div.serviceChapter{
    padding-top:40px;
    /*background-color:blue;*/
}
ul#serviceList2{
    list-style:none;
    margin:1.5vw 0px 0px 0px;
    padding:1vw;
    /*width:100%;*/
    
}
h4.cerviceTitle{
    margin:0;
    padding:0;
    text-align:center;
}
ul#serviceList2 li{
    text-align:left;
    margin:0;
    padding:0;
    padding:7px 0 7px 25px;
    cursor:pointer;
    /*font-weight:bolder;
    color:inherit;*/
}
ul#serviceList2 li:hover{
    text-decoration:underline;
}
ul#serviceList2 li:nth-child(odd){
    background-color:#dddddc;
}
ul#serviceList2 li:nth-child(even){
    background-color:#f4f4e9;
}
ul#serviceList2 li:last-child{
    margin-bottom:0;
}
.serviceLink{
    color:inherit;
    display:inline-block;
    width:100%;
    padding:7px 0 7px 25px;
    /*text-decoration:underline;*/
    /*font-weight:bolder;*/
}
.serviceLink:hover{
    color:inherit;
    /*font-weight:bolder;*/
}
p.serviceType{
    margin:15px 0 0 0;
}
/*.artMain{
    padding:7px 0 7px 25px;
}*/
