
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Страница не найдена</title>
</head>
<body>
    <style>
        h1.headText{
            margin-top:50px;
            text-align:center;
            color:red;            
        }
        span.bigText{
            color:red;
            font-size:32px;
        }
    </style>
    <div> 
        <h1 class="headText">Ошибка <span class="bigText">404:</span> страница не найдена</h1>
    </div>
</body>
</html>
